<!DOCTYPE html>
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js gt-ie8" lang="en">
<!--<![endif]-->
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Summer Course Registration &lsaquo; Undergrad | Biola University</title>

  <%= stylesheet_link_tag 'application', media: 'all' %>

  <link rel="icon" type="image/png" href="//media.biola.edu/undergrad/static/biola/img/biola-icon.png" />
  <link rel="apple-touch-icon-precomposed" href="//media.biola.edu/undergrad/static/biola/img/biola-touch-icon.png" />


  <meta name="google-site-verification" content="EtJpXnwKiKAAMPv0wrZDgTRTx6VNG_Cu2C2LrfpqEQc" />
  <link rel="stylesheet" href="//media.biola.edu/undergrad/static/biola/template/header-tab/main.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="//media.biola.edu/undergrad/static/biola/template/footer-standard/main.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="//media.biola.edu/fonts/undergrad/crimson.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="//media.biola.edu/undergrad/static/css/undergrad.css?v=11" type="text/css" media="screen" />

  <!--[if lte IE 7]><link rel="stylesheet" href="//media.biola.edu/undergrad/static/css/ie7.css" type="text/css" media="screen" /><![endif]-->

  <link rel="stylesheet" href="//media.biola.edu/undergrad/static/smartstart/main.css?v=1" type="text/css" media="screen" />

  <style>
    p.error {
      background: none repeat scroll 0 0 #FFCCCC;
      border: 1px solid #FF7777;
      margin: 5px 10px 10px;
      padding: 10px 0 10px 10px;
    }

    p.info {
      background: none repeat scroll 0 0 #CCFFCC;
      border: 1px solid #77FF77;
      margin: 5px 10px 10px;
      padding: 10px 0 10px 10px;
    }

    p.warning {
      background: none repeat scroll 0 0 #FFEEAA;
      border: 1px solid #FFCC00;
      margin: 5px 10px 10px;
      padding: 10px 0 10px 10px;
    }

    ul.products li {
      margin-bottom: 20px;
    }

    ul.products li input[type=checkbox] {
      float: left;
    }
    ul.products li label {
      display: block;
      padding-left: 20px;
    }

    #contact {
      text-align: center;
    }

    #contact img {
      margin-bottom: 10px;
    }

    #contact h2 {
      margin-bottom: 0;
    }
  </style>


</head>

<body class="" id="page-smartstart">

  <div id="biolaHeaderTab">
    <div class="nav">
      <p><a href="http://www.biola.edu">Biola University</a></p>
    </div>
  </div>





  <div id="ugFrame1">
  <div id="ugFrame2">

    <div id="ugHeader">
      <div class="wrap1">
        <h1 id="ugIdentity"><a href="/">Biola Undergrad</a></h1>
        <ul id="ugNavMain">
          <li id="ugNavMainApply"><a href="/apply/">Apply</a></li>
          <li id="ugNavMainAcademics"><a href="/academics/">Academics</a></li>
          <li id="ugNavMainCulture"><a href="/culture/">Campus Culture</a></li>
          <li id="ugNavMainFinaid"><a href="/finaid/">Financial Aid</a></li>
          <li id="ugNavMainTour"><a href="/tour/">Tour Biola</a></li>
        </ul>
      </div>
    </div>

    <div id="ugBody">

  <div id="ugPage" class="full">
    <div class="wrap1">

      <div class="pageHead" id="pageHeadHome" style="margin-left: -10px; margin-right: -30px;">
        <div class="grid-12 pad-2">
          <p class="image"><img src="//media.biola.edu/undergrad/static/smartstart/images/mouse-pointer.png" width="194" height="210" style="margin-top: -100px; margin-bottom: -50px;" /></p>
          <h1 id="pageTitle">Summer Course Registration</h1>
        </div>
      </div>

      <div class="grid-8">

        <% flash.each do |name, msg| -%>
          <%= content_tag :p, msg, class: "error #{name}" %>
        <% end -%>

        <%= yield %>
      </div>

      <div class="grid-4">
        <p style="text-align: right;">
          <small style="color: #999;">
            Not <%= current_user.try(:first_name) %>?
            <a href="<%= logout_path %>">Log out</a>.
          </small>
        </p>

        <div id="contact" class="aside">
          <p style="text-align: left;"><em>For questions contact:</em></p>
          <%= image_tag 'alex-castro.png' %>
          <h2>Alex Castro</h2>
          <h3>Academic Advisor</h3>

          <p>
            (562) 944-0351 ext 5849<br/>
            <%= mail_to('alex.castro@biola.edu') %>
          </p>
        </div>
      </div>

      </div>
    </div>

    </div>

    <div id="ugFooter">
      <div class="wrap1">
      </div>
    </div>

  </div>
  </div>



    <div id="wrapperBiolaFooter">
  <div id="biolaFooter">
    <div id="navBiolaSupplemental">
      <ul>
        <li><a href="http://www.biola.edu/contact/">Contact Biola</a></li>
        <li><a href="http://www.biola.edu/admissions/">Request Admission Info</a></li>
        <li><a href="http://www.biola.edu/library/">Library</a></li>
        <li><a href="http://www.biola.edu/donations/">Giving to Biola</a></li>
        <li><a href="http://www.biola.edu/hr/">Employment</a></li>
        <li><a href="http://www.biola.edu/news/press/">Press Room</a></li>
      </ul>
    </div>
    <div id="siteinfo">
      <div id="siteinfoContact" class="vcard">
        <div class="org fn">Biola University</div>
        <div id="biola-address" class="adr">
          <span class="street-address">13800 Biola Ave.</span>
          <span class="locality">La Mirada</span>, <span class="region">CA</span>
          <span class="postal-code">90639</span>
        </div>
        <div class="tel">1-562-903-6000</div>
      </div>
      <div id="siteinfoMapLink"><a href="http://www.biola.edu/maps/">Maps &amp; Directions</a> | <a href="http://biola.edu/privacy/">Privacy Policy</a></div>
      <div id="siteinfoLegal"><a href="http://www.biola.edu/copyright/">&copy; 1996-2014 Biola University, Inc.</a> All Rights Reserved.</div>
    </div>
  </div>
</div>

</body>
</html>
